:root {
    --primary-color: white;
    --secondary-color: rgb(246, 76, 49);
    --third-color: rgb(233,232,232);
    --fourth-color: rgb(35,47,71);
    --text-color: black;
}

@media (max-width:386px) {
    html {
        font-size: 8px;
    }

    .home-cont1 {
        grid-template-columns: minmax(250px, 1fr);
        row-gap: 5rem;
        padding: 2.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 1.2rem;
    }

    .swiper-slide img {
        width: 100%;
    }
    .featured-project{
        align-items: start;
    text-align: start;
    padding: 5rem 2.5rem;
    }
    .swiper-btn{
        width: 60%;
        height: 5rem;
        font-size: 1.5rem;
    }
    .swiper-btn2{
        display: none;
    }
    .featured-photo{
        min-height: 30rem;
    }
    .swiper-photos{
        min-height: 30rem;
        border-radius: 5px;
    }
    .home-footer{
        padding: 1rem 2.5rem;
    }
    .footer-social{
        padding: 1.2rem 2.5rem;
        justify-content: center;
    }
    .icon img{
        width: 6rem;
    }
    .info-logo{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .info{
        flex-direction: column;
    }
}

@media (min-width:386px) and (max-width:586px) {
    html {
        font-size: 9px;
    }
    
    .home-cont1 {
        grid-template-columns: minmax(250px, 1fr);
        row-gap: 5rem;
        padding: 2.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 1.5rem;
    }

    .swiper-slide img {
        width: 100%;
    }
    .featured-project{
        align-items: start;
    text-align: start;
    padding: 5rem 2.5rem;
}
.swiper-btn , .register-btn{
        width: 60%;
        height: 4rem;
        font-size: 1.2rem;
    }
    .swiper-btn2{
        display: none;
    }
    .swiper-btn3{
        height: 3.2rem;
        font-size: 1.2rem;
    }
    .swiper-photos{
        min-height: 30rem;
        border-radius: 5px;
    }
    .home-footer{
        padding: 1.5rem 2.5rem;
    }
    .footer-social{
        padding: 1.2rem 2.5rem;
        justify-content: center;
    }
    .icon img{
        width: 6rem;
    }
    .info-logo{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .info{
        flex-direction: column;
    }
    
}

@media (min-width:586px) and (max-width:786px) {
    html {
        font-size: 11px;
    }
    
    .home-cont1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        row-gap: 5rem;
        padding: 5rem 2.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 1.2rem;
    }

    .swiper-slide img {
        width: 90%;
    }
    .swiper-btn{
        width: 70%;
        height: 3rem;
        font-size: 1rem;
    }
    .featured-project{
        align-items: start;
    text-align: start;
    padding: 5rem 2.5rem;
    }
    .swiper-btn3{
        display: none;
    }
    .home-footer{
        padding: 2rem 2.5rem;
    }
    .footer-social{
        padding: 1.2rem 2.5rem;
    }
    .icon img{
        width: 6rem;
    }
    .info-logo{
        justify-content: space-between;
    }
}

@media (min-width:786px) and (max-width:864px) {
    html {
        font-size: 13px;
    }

    .home-cont1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        row-gap: 5rem;
        padding: 10rem 5rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 1.2rem;
    }
    .swiper-slide img {
        width: 100%;
    }
    .swiper-btn{
        width: 70%;
    }
    .featured-project{
        align-items: center;
        text-align: center;
    padding: 10rem 5rem;
}
.swiper-btn3{
        display: none;
    }
    .home-footer{
        padding: 2.5rem 5rem;
    }
    .footer-social{
        padding: 1.2rem 5rem;
    }
    .icon img{
        width: 7rem;
    }
    .info-logo{
        justify-content: space-between;
    }
}

@media (min-width:864px) and (max-width:1000px) {
    html {
        font-size: 14px;
    }
    
    
    .home-cont1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        padding: 10rem 5rem;
    }

    .swiper-slide img {
        width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 1.2rem;
    }
    .swiper-btn {
        width: 80%;
    }
    .featured-project{
        align-items: center;
    text-align: center;
    padding: 10rem 5rem;
    }
    .swiper-btn3{
        display: none;
    }
    .home-footer{
        padding: 2.5rem 5rem;
    }
    .footer-social{
        padding: 1.2rem 5rem;
    }
    .icon img{
        width: 8rem;
    }
    .info-logo{
        justify-content: space-between;
    }
}

@media (min-width:1000px) and (max-width:1250px) {
    html {
        font-size: 14px;
    }


    .home-cont1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        padding: 10rem 5rem;
    }
    
    .swiper-slide img {
        width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 1.2rem;
    }
    .featured-project{
        align-items: center;
        text-align: center;
        padding: 10rem 5rem;
    }
    .swiper-btn3{
        display: none;
    }
    .home-footer{
        padding: 2.5rem 5rem;
    }
    .footer-social{
        padding: 1.2rem 5rem;
    }
    .icon img{
        width: 9rem;
    }
    .info-logo{
        justify-content: space-between;
    }
}

@media (min-width:1250px) {
    html {
        font-size: 16px;
    }
    
    
    .home-cont1 {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        padding: 10rem 5rem;
    }

    .swiper-slide img {
        width: 100%;
    }
    .featured-project{
        align-items: center;
    text-align: center;
    padding: 10rem 5rem;
    }
    .swiper-btn3{
        display: none;
    }
    .home-footer{
        padding: 2.5rem 5rem;
    }
    .footer-social{
        padding: 1.2rem 5rem;
    }
    .icon img{
        width: 10rem;
    }
    .info-logo{
        justify-content: space-between;
    }
}
.black-text{
    color: black !important;
}

.close-modal{
    background-color: var(--secondary-color);
    color: var(--text-color) !important;
    opacity: 1;
}
.close-modal:hover{
    color: var(--text-color) !important;
}

.offcanvas{
    background-color: var(--primary-color);
    color: var(--text-color);
    z-index: 55;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offcanvas-body{
    width: 100%;
}
.offcanvas-layout{
    height: 85%;
}
.offcanvas-backdrop{
    display: none;
}
.offcanvas-content{
    margin-top: 6rem;
    padding-top: 6rem;
    width: 90%;
    height: 100%;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.offcanvas-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}
.offcanvas-links li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
}
.offcanvas-social{
    display: flex;
    align-items: center;
    width: 70%;
}
.offcanvas-ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.canvas-hotline{
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
}
.offcanvas-ul a i{
    color: var(--secondary-color);
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}
.offcanvas-ul a i:hover{
    color: var(--fourth-color);
}
.offcanvas-rights{
    color: var(--text-color);
    font-size: 0.7rem;
    color: var(--text-color);
}
.mode{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dark-light{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.dark-light h2{
    margin-bottom: 0;
}
.dark-light h2{
    font-size: 1rem;
}
.form-check-input{
    height: 2rem !important;
    width: 5rem !important;
}
.form-check-input:checked{
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: block;
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    z-index: 60;
}

.logo img{
    width: 10rem;
}

.book-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.book-now {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    outline: none;
    padding: 0.25rem;
    font-size: 0.9rem;
}

.book-now i {
    color: var(--secondary-color);
}

.toggle-menu {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1.2rem;
}

.home-photo {
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 35rem;
    z-index: 50;
}
.moraya-photo{
    width: 100%;
    display: block;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-ul {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home-ul a {
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}
.home-ul a:hover {
    color: var(--secondary-color);
}

.home-cont1 {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    column-gap: 2rem;
}

.cont1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.swiper {
    position: relative;
    max-height: 60rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper-group , .swiper-group2 {
    width: 50%;
    height: 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 2%;
    left: 50%;
    z-index: 20;
}

.swiper-group div , .swiper-group2 div {
    color: var(--secondary-color) !important;
}

.swiper-pagination-bullet-active {
    background: var(--secondary-color) !important;
}

.swiper-pagination {
    left: 50% !important;
    top: 40% !important;
    transform: translate(-50%, -50%);
    width: 50% !important;
}

.swiper-btn , .swiper-btn2 {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 40;
}
.swiper-btn{
    padding: 0.5rem 1rem;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.swiper-btn i {
    color: var(--secondary-color);
}

.cont1-text h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.cont1-text h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.cont1-learnbtn {
    width: 15rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}
.cont1-learnbtn:hover , .swiper-btn:hover , .swiper-btn2:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.cont1-learnbtn i {
    color: var(--secondary-color);
}
.header-bg{
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0%;
    left: 0;
    background-color: var(--primary-color);
    z-index: 40;
}

.register-btn:hover{
    background-color: var(--fourth-color);
    color: var(--primary-color);
}



.featured-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: var(--third-color);
}
.featured-project h2{
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 700;
}
.featured-project h2 span{
    font-weight: 300;
}
.featured-project h5{
    font-size: 1.4rem;
    font-weight: 300;
}
.featured-project h4{
    font-size: 1.3rem;
}
.register-btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.8rem 3.4rem;
    transition: 0.3s ease-in-out;
}
.register-btn:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}
.featured-photo{
    width: 100%;
}
.featured-photo img{
    object-fit: cover;
    width: 100%;
}
.swiper-group2{
    bottom: 10%;
}
.swiper-btn2{
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--secondary-color);
    top: 72%;
    padding: 0.8rem 2.7rem;
    font-weight: 300;
    transition: 0.3s ease-in-out;
}
.swiper-photo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 40%;
    z-index: 30;
}
.swiper-photo img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.swiper-btn3{
    width: 50%;
    padding: 0.5rem 1rem;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--text-color);
    border-radius: 5px;
}
.home-footer{
    background-color: var(--fourth-color);
}
.information{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 3rem;
}
.info-logo{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    
}
.info{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1rem;
    padding-left: 0;
    list-style: none;
    color: white;
    font-weight: 300;
}
.hot-line{
    font-size: 2rem;
    color: white;
}
.contact{
    font-size: 0.7rem;
    width: 20rem;
    
}
.contact h4{
    font-weight: 300;
    font-size: 0.8rem;
}
.links{
    list-style: none;
}
.links li a{
    color: white;
    text-decoration: none;
    font-weight: 350;
    transition: 0.3s ease-in-out;
}
.links li a:hover{
    color: var(--secondary-color);
}

.footer-social{
    background-color: var(--fourth-color);
    display: flex;
}
.footer-ul{
    gap: 0.5rem;
    display: flex;

}
.footer-ul a{
    color: white;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}
.footer-ul a:hover{
    color: var(--secondary-color);
}
.copy-right{
    color: white;
    font-size: 1rem;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/*
careers page
*/

.careers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careers-photo{
    background-image: url(assets/backgrounds/careers.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30rem;
}

.careers-title{
    color: var(--secondary-color);
    font-weight: 800;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underline{
    height: 2px;
    width: 50%;
    background-color: var(--text-color);
}
.underline-link{
    height: 2px;
    width: 4rem;
    background-color: var(--secondary-color);
}

.borders{
    padding: 0.7rem;
    border: 2px solid black;
}
.borders::placeholder{
    opacity: 0.5;
}
.careers-submit{
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.careers-submit:hover{
    border: 2px solid var(--text-color);
    color: var(--text-color);
}
.attach-btn{
    color: var(--text-color);
}
.attach-btn:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.careers-mail{
    margin: 5rem 0;
}
.careers-mail h4{
    font-size: 1rem;
}





/*
about page
*/

.about-photo , .about-photo2 , .facts-photo{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.about-photo{
    background-image: url(assets/backgrounds/about1.png);
    height: 40rem;
}
.about-photo2{
    background-image: url(assets/backgrounds/about2.png);
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content{
    width: 70%;
    min-height: 30rem;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
.about-btn{
    border: 2px solid var(--secondary-color);
    padding: 1rem 3rem;
}
.about-btn:hover{
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.moraya-container{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.center img{
    width: 3rem;
}
.center h5{
    font-size: 0.8rem;
}
.location{
    background-color: var(--fourth-color);
    color: var(--primary-color);
    text-align: center;
}
.content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content img{
    width: 100%;
}
.content-text{
    font-size: 1.3rem;
    font-weight: 300;
}
.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.overview h2{
    font-size: 1.3rem;
    font-weight: 700;
}
.overview img{
    object-fit: contain;
    width: 100%;
}
.brochure-btn{
    color: var(--text-color);
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
}
.brochure-btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.get-btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    width: 100%;
    padding: 1rem;
}
.get-btn:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.modal-body{
    background-color: var(--primary-color);
    color: var(--text-color);
}

/*
facts page
*/

.facts-photo{
    background-image: url(assets/backgrounds/facts.png);
    height: 40rem;
}


/*
members page
*/

.members{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.text-side{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3rem;
}
.member{
    background-color: var(--third-color);
    border: none;
    border-radius: 5px;
    min-height: 45rem;
}

.founder{
    color: var(--secondary-color);
    font-size: 1.7rem;
    font-weight: 700;
}
.member-name{
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 400;
}
.describe{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
}
.img-side{
    height: 100%;
}
.img-side img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
